.grade-projetos {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.card {
    background-color: #555555;
    border: 5px solid;
    border-radius: 5px;
    padding: 20px;
}

@media (min-width: 769px) {
    .grade-projetos {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1.5rem;
    }
}